:root{
    --paper-1:hsl(39, 89%, 49%); ;
    --paper-2:hsl(40, 84%, 53%) ;
    --scissors-1: hsl(293, 87%, 34%);
    --scissors-2: hsl(297, 87%, 36%);
    --rock-1: hsl(230, 89%, 62%);
    --rock-2: hsl(230, 89%, 65%);
    --outline: hsl(217, 16%, 45%);
}

body {
    font-family: "Barlow Semi Condensed", sans-serif;
    background: #8CC461;
    height:100vh;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }
.main-container{
    display: flex;
    border: solid white;
    margin-left: 12rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 800px;
    height: 138px;
    border-radius: 15px;
    justify-content: space-between;
}

.logo{
    color: #FFF;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 4px;
}
.scores{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.score{
    width: 139px;
height: 128px;
margin: 5px;
flex-shrink: 0;
border-radius: 9px;
background-color: #FFF;
color: black;
font-family: Roboto;
font-size: 4rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.7px;
text-align: center;
text-transform: uppercase;
}
.scoree{
    width: 139px;
height: 128px;
margin: 5px;
flex-shrink: 0;
border-radius: 9px;
background-color: #FFF;
color: black;
font-family: Roboto;
font-size: 4rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.7px;
text-align: center;
text-transform: uppercase;
}
.score>p{
    background-color: #FFF;
    font-size: 14px;
    color: #656565;
}
.scoree>p{
    background-color: #FFF;
    font-size: 14px;
    color: #656565;
}


/* game */
.game{
    position: relative;
    display: grid;
    grid-template-columns: (repeat(2,1fr));
    grid-template-areas: 
    "stone paper"
    "scissors scissors";
    place-items: center;
    height: 23rem;
    margin-left: 24rem;
    margin-right: 23rem;
}
.game::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 37%;
    top: 25%;
    background: url("./assets/Line\ 1.svg") no-repeat;
    z-index: -1;
}
.game::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 55%;
    top: 37%;
    background: url("./assets/Line\ 2.svg") no-repeat;
    z-index: -1;
}
.stone::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 78%;
    top: 75%;
    background: url("./assets/Line\ 3.svg") no-repeat;
    z-index: -1;
}

.choice::before{
  content: "";
  position: absolute;
  left: -15%;
  top: -15%;
  width: 130%;
  height: 130%;
  border-radius: 50%;
  z-index: -1;

}
.choice.paper::before{
    background: linear-gradient(to bottom, var(--paper-1), var(--paper-2));
}
.choice.stone::before{
    background: linear-gradient(to bottom, var(--rock-1), var(--rock-2));
}
.choice.scissors::before{
    background: linear-gradient(to bottom, var(--scissors-1), var(--scissors-2));
}


.button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;

}
.choice{
position: relative;
background:#FFFF;
width: 8rem;
height: 8rem;
border-radius: 25rem;
display: grid;
place-items: center;
}

.button[data-choice="stone"]{
    grid-area: stone;
}
.button[data-choice="paper"]{
    grid-area: paper;
}
.button[data-choice="scissors"]{
    grid-area: scissors;
}
.rules-btn {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    background: none;
    outline: none;
    border: 2px solid var(--outline);
    border-radius: 0.6rem;
    color: var(--light-text);
    padding: 0.6rem 2.5rem;
    font-size: 1.3rem;
    color: #FFF;
    letter-spacing: 0.1em;
    cursor: pointer;
    border: 2px solid white;
  }
  .rules-btn:hover{
background: #fff;
color: #656565;
  }

  /* Results */
.results{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    grid-template-areas:
      "you-title ai-title"
      "you-picked ai-picked";
    max-width: 1000px;
    margin: 0 auto;
  }
  .results_heading{
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    padding: 0.4rem 0 0.8rem;
    color: #FFF;
  }
  .results_result{
    min-width: 8rem;
    min-height: 8rem;
    background: #16213d;
    border-radius: 50%;
    transform: scale(1.4);
    z-index: -1;
  }
  .results_text{
    color: #FFF;
  }

  .results_heading:first-of-type{
    grid-area: you-title;
  }
  .results_heading:last-of-type{
    grid-area: ai-title;
  }
  .results_result:first-of-type{
    grid-area: you-picked;
  }
  .results_result:last-of-type{
    grid-area: ai-picked;
  }
  .results.show-winner {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "you-title . ai-title"
      "you-picked result-winner ai-picked";
  }
  
  
  @keyframes winner {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .results_winner {
    grid-area: result-winner;
    display: grid;
    place-items: center;
  }
  .results_text {
    font-size: 3.5rem;
    padding-bottom: 1.5rem;
  }
  .play-again {
    background: #fff;
    outline: none;
    border: 2px solid transparent;
    border-radius: 0.6rem;
    color: var(--dark-text);
    padding: 0.6rem 3.5rem;
    font-family: inherit;
    text-transform: inherit;
    font-size: 1.3rem;
    letter-spacing: 0.1em;
    cursor: pointer;
  }
  .play-again:focus {
    border: 2px solid var(--outline);
  }
  
/* Rules Modal */
.modal {
    position: absolute;
    width: 350px;
    height: 60px;
    right: 10px;
    top: 290px;
    display: grid;
    place-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    font-size: 12px;
  }
 .modal_header{
   display: flex;
   justify-content: space-between;
  }
  .modal_header>h1{
    display: flex;
    margin-left: 5rem;
    color: #fff;
  }
.modal_container{
  display: flex;
  flex-direction: column;
  background: rgb(13, 93, 13);
  border: 2px solid white;
}
.modal_list{
  display: flex;
  color: #fff;
}
.close-button{
  display: flex;
  background-color: red;
  height: 2.8rem;
  border-radius: 2rem;
}
.close-button>img{
  display: flex;
  margin-top: 3px;
}
  .show-modal{
    opacity: 1;
    pointer-events: initial;
  }
  .hide{
    display: none;
  }